body {
    padding: 2rem;
    font-family: 'Space Mono', monospace;
    background-color: #2E2F2F;
    color: #AAA;
}

section {
    border: solid 1px #393939;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    box-shadow: 0 11px 14px -12px rgba(20, 20, 40, 0.5);
    max-width: 40rem;
    text-align: center;
    background-color: #313232;
}

button {
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #353535;
    padding: 0.5rem 1.3rem;
    border: 1px;
    color: #AAA;
    transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
    outline: none;
}

button:hover, button:focus {
    color: #DDD;
    background-color: #404040;
    box-shadow: 0 11px 14px -12px rgba(20, 20, 40, 0.75);
}

input[type="text"], input[type="number"] {
    min-width: 10rem;
    background-color: #383838;
    color: #AAA;
    border: solid 1px #353535;
    outline: none;
    padding: 0.2rem;
    display: inline-block;
    transition: background 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="text"]:hover, input[type="number"]:hover {
    color: #DDD;
    background-color: #404040;
    border: solid 1px #595959;
    box-shadow: 0 11px 14px -12px rgba(20, 20, 40, 0.75);
}

.back-state-button {
    margin-right: 1rem;
}

.forward-state-button {
    margin-left: 1rem;
}

.new-sequence-label {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
}

.new-sequence-label small {
    font-size: 0.7rem;
}

.new-sequence-label span:first-child {
    display: inline-block;
    min-width: 19rem;
    text-align: right;
}

.state-label {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
}

.state-label span:first-child {
    display: inline-block;
    min-width: 6rem;
    text-align: right;
}

.state-index {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    border-bottom: solid 1px #393939;
    box-shadow: 0 1px 0 #272727;
}

h1 {
    text-align: center;
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    border-bottom: solid 1px #393939;
    box-shadow: 0 1px 0 #272727;
}

.puzzle-completed {
    visibility: hidden;
}

.puzzle-completed .is-complete {
    visibility: visible;
}

.puzzle {
    width: 300px;
    height: 300px;
    box-sizing: content-box;
    margin: 0 auto;
    box-shadow: 0 11px 14px -12px rgba(20, 20, 40, 0.5);
    border: solid 1px #393939;
    position: relative;
    margin-bottom: 2rem;
    background-color: #EEE;
}

.puzzle-piece {
    cursor: pointer;
    height: 98px;
    width: 98px;
    border: solid 1px #494949;
    position: absolute;
    transition: top 1s, left 1s, border-color .5s;;
    background-repeat: no-repeat;
    background-size: auto 300px;
    background-image: url("../images/kitten.jpg");
}

.puzzle-piece:hover {
    border-color: #AAA;
}

#puzzlePiece1 {
    background-color: #111;
    background-position: 0 0;

}

#puzzlePiece2 {
    background-color: #222;
    background-position: -100px 0;

}

#puzzlePiece3 {
    background-color: #333;
    background-position: -200px 0;

}

#puzzlePiece4 {
    background-color: #444;
    background-position: 0 -100px;

}

#puzzlePiece5 {
    background-color: #555;
    background-position: -100px -100px;

}

#puzzlePiece6 {
    background-color: #666;
    background-position: -200px -100px;

}

#puzzlePiece7 {
    background-color: #777;
    background-position: 0 -200px;
}

#puzzlePiece8 {
    background-color: #888;
    background-position: -100px -200px;

}

#puzzlePiece9 {
    background-color: #999;
    background-position: -200px -200px;

}

.position-1 {
    top: 0;
    left: 0;
}

.position-2 {
    top: 0;
    left: 100px;
}

.position-3 {

    top: 0;
    left: 200px;
}

.position-4 {
    top: 100px;
    left: 0;
}

.position-5 {
    top: 100px;
    left: 100px;
}

.position-6 {
    top: 100px;
    left: 200px;
}

.position-7 {
    top: 200px;
    left: 0;
}

.position-8 {
    top: 200px;
    left: 100px;
}

.position-9 {
    top: 200px;
    left: 200px;
}

